.centered-headline {
  text-align: center;
  margin: 20px 0; /* Optional: Add some margin for spacing */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
  }
  
  .info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgrey;
    padding: 20px;
    margin-right: 20px;
    flex: 1;
  }
  
  .form-container {
    flex: 1;
    margin-left: 20px;
  }
  
  .info-box p {
    margin: 10px 0;
  }
  
  .already-partner {
    display: flex; /*arranges its children in a row*/
    justify-content: space-between; /*makes sure that text and button are on opposite sides of the flex container*/
    align-items: center; /*verticall centers text and button within the '.already-partner' container*/
    margin-top: 20px;
  }
  
  .already-partner button {
    margin: 0;
  }